main {
    display: grid;
    gap: 1rem;
    margin: 1rem auto;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;

    /* Definimos las filas */
    grid-template-areas: 
        "genrf genrf genrf"
        "transceiver tims tims";

    max-width: 90%;
    width: 100vw;
}

.container {
    display: grid;

    img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 8px;
    }
}

#genrf-container {
    grid-area: genrf;
}

#transceiver-container {
    grid-area: transceiver;
}

#tims-container {
    grid-area: tims;
    grid-column: span 2;
}